@import "../../styles/common.scss";

// .header-container {
//     z-index: 99;
//     display: flex;
//     justify-content: space-between;
//     background-color: $colormain;
//     color: $common-text-color;
//     height: 40px;
//     position: relative;
//     .btn-logout {
//         color: $common-text-color;
//         line-height: 40px;
//         height: 40px;
//         padding: 0 10px;
//         &:hover {
//             background-color: darken($colormain, 5);
//         }
//         i {
//             font-size: $base-size + 1px;
//         }
//     }
// }

.btn.btn-logout {
    z-index: 1;
    position: absolute;
    right: 0px;
    .fa-sign-out-alt {
        font-size: 30px;
        margin-top: 15px;
        margin-right: 55px;
    }
}